<style>
.signup-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    height: 74.5vmin;
}
.signup-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.ml-10 {
    margin-left: 10px;
}
</style>

<div id="content">
  <div class="signup-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="text-center">Sign Up</h2>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: 'Please Enter Your Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", title: "Password should have at least 6 characters.", class: 'form-control', required: true, placeholder: 'Please Enter Your Password' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", title: "Password should have at least 6 characters.", class: 'form-control', required: true, placeholder: 'Please Confirm Your Password' %>
        </div>
        <div class="form-group">
            <%= f.submit "Sign up", class: 'btn  btn-primary' %>
        </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  // function validateEmail(emailField){
  //   var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
  //   if (reg.test(emailField.value) == false)
  //   {
  //       toastr.error("Email pattern not match", {timeOut: 300});
  //       return false;
  //   }
  //   return true;
  // }
  // function checkLength(el) {
  //   if (el.value.length != 6) {
  //     toastr.error("Please set password with minimum 6 characters");
  //   }
  // }
</script>
