/* Style inputs with type="text", select elements and textareas */

    input[type=text] {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    select, textarea {
      height: 26px !important;
      width: 100%; /* Full width */
      border: 1px solid #ccc; /* Gray border */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      /*padding: 12px;  Some padding  */
      /*margin-top: 6px;  Add a top margin */
      /*margin-bottom: 16px; /* Bottom margin */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #45a049;
    }

    /* Add a background color and some padding around the form */
    .container {
      border-radius: 5px;
      /*background-color: #f2f2f2;*/
      /*padding: 20px;*/
    }

    .container1 {
      border-radius: 5px;
      background-color: white;
    }

    .footer-container {
      border-radius: 5px;
      background-color: #f5f5f5;
      padding: 20px;
    }

    .ml-18{
        margin-left: 18%;
    }

    .height-10{
        height: 10px;
    }

    .mt-0, .mb-0{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .mrgn{
        margin-left: 18%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .snow{
        color :#FFFAFA;
    }

    div.contain {
        position: relative;
        top: 50px;
    }

    .tbox{
        background: transparent;
        border: 0px none !important;
        font-weight: bold;
        /*font-size: 20px;*/
    }
    .lbl-cal{
        margin-left: 10px;
    }
    .lbl-font{
        font-size: 14px !important;
    }
    table{
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    tr, td{
        border: 3px solid black;
    }
    table th, table td{
        padding: 5px;
        text-align: left;
    }
    table td input{
        padding: 5px;
        text-align: left;
    }
    .remove-row{
        color: blue;
    }

    .add_item a{
        color: blue !important;
    }

    .h2{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .remove_th_border{
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
    }
    .txt_border{
      border-top: hidden !important;
      border-bottom: hidden !important;
      border-right: hidden !important;
    }

    .txt_border1{
      border-top: hidden !important;
      border-bottom: hidden !important;
    }

    .number_border{
      border-top: hidden;
      border-left: hidden;
      border-bottom: hidden;
    }
