<div id="content" style="padding-bottom: 100px;">
    <div class="container">
      <h2 class="h2">Your Address And Item Details</h2>
    </div>
    <div class="container">
        <%= form_with url: create_order_path do |f| %>
            <label for="pincode" class="lbl-font">Pincode</label>
            <input type="text" id="pincode" name="pincode" placeholder="Your pincode.." maxlength="7" required="" class="lbl-font only-number">

            <label for="state" class="lbl-font">State</label>
            <input type="text" id="state" name="state" placeholder="Your state.." required="" class="lbl-font">

            <label for="city" class="lbl-font">City</label>
            <input type="text" id="city" name="city" placeholder="Your city.." required="" class="lbl-font">

            <label for="area" class="lbl-font">Area</label>
            <input type="text" id="area" name="area" placeholder="Your area.." required="" class="lbl-font">

            <label for="address" class="lbl-font">Address</label>
            <input type="text" id="address" name="address" placeholder="Your address.." required="" class="lbl-font">

            <label class="lbl-font">Item Information</label>
            <table id="myTable">
                <thead class="remove_th_border">
                    <tr>
                        <th class="lbl-font number_border" style="width: 60px;"></th>
                        <th class="lbl-font" style="width: 700px;">Item Name</th>
                        <th class="lbl-font txt_border1" style="width: 20px;"></th>
                        <th class="lbl-font" style="width: 50px;">Item Quantity</th>
                        <th class="lbl-font txt_border1" style="width: 20px;"></th>
                        <th class="lbl-font" style="width: 150px;">Item Price</th>
                        <th class="lbl-font" style="width: 100px;text-align: center;">Total Price</th>
                        <th class="lbl-font" style="width: 100px;text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="">
                        <td style="width: 60px;text-align: center;" class="ml-10 lbl-font number_border"><label>1</label></td>
                        <%= f.fields_for :order_items[1], @items do |item| %>
                            <% disabled_stock = SoukoZaiko.where(is_disable: 1, stock_type: "01").pluck(:sku_code) %>
                            <td style="width: 700px;"><%= item.collection_select "0[sku_code", SoukoZaiko.select('distinct on (sku_code) *'),:sku_code,:sku_code, class: 'lbl-font', disabled: disabled_stock %></td>
                            <td style="width: 20px;" class="txt_border1"></td>
                            <td style="width: 50px;"><%= item.text_field :quantity,id: "quantity" ,class: 'height-10 mt-0 mb-0 quantity lbl-font only-number number-seperator remove_border_outline', required:'', name: "[r]0[quantity]", maxlength: "3", placeholder: "0" %></td>
                            <td style="width: 20px;" class="txt_border1"></td>
                            <td style="width: 150px;"><%= item.text_field :price,id: "price" ,class: 'height-10 mt-0 mb-0 price lbl-font only-number number-seperator remove_border_outline', required:'', name: "[r]0[price]", maxlength: "4", placeholder: "0" %></td>
                            <td style="width: 100px;" class="txt_border"><%= item.text_field :total_amount,id: "total_amount" , name: "total_amount", placeholder: "0",class: 'height-10 mt-0 mb-0 total_amount tbox lbl-font' %></td>
                        <% end %>
                            <td style="width: 100px;" class="ml-10 lbl-font txt_border"><a href="javascript:void(0);" class="remove-row">Remove</a></td>
                    </tr>
                </tbody>
            </table>
            <span class="add_item"><a href="javascript:void(0);" class="add-field lbl-font" onclick="addField();">+ Add more item</a><br/></span>
            <div style="height: 100px !important;width: 300px;float: right;text-align: end">
                <label class="lbl-font">Total</label><label class="total lbl-cal lbl-font"></label><br/>
                <label class="lbl-font">TAX 10%</label><label class="tax lbl-cal lbl-font"></label><br/>
                <label class="lbl-font">Total Price</label><label class="total_price lbl-cal lbl-font"></label>
            </div>
            <br/><br/><br/>
            <input id = "submit" type="submit" value="Submit" class="lbl-font sbt-btn">
        <% end %>
    </div>
</div>