<%= render 'order/order' %>
<script type="text/javascript">
    var first_sum = ""
    $(".total_amount").attr('readonly', true);
    $( "select[name='[r][0[sku_code]']" ).addClass('remove_border_outline select');
    $(".total_amount").attr("style", "outline: none !important");
    $('.price').on('blur' , function() {
        a = $('#quantity').val().replace(/,/g, '')
        b = $('#price').val().replace(/,/g, '')
        first_sum = c = a*b
        $(this).closest('td').next().find('input').val(addCommas(c)).attr('readonly', true);
        var sum = 0;
        $(".total_amount").each(function(){
            sum += +$(this).val().replace(/,/g, '');
        });
        tax = (sum * 10)/ 100
        new_total = $(".total").text(addCommas(sum));
        new_tax = $(".tax").text(addCommas(parseInt(tax)));
        x = parseInt(new_total.text().replace(/,/g, ''))
        y = parseInt(new_tax.text().replace(/,/g, ''))
        new_total_price = x + y
        new_total_price1 = addCommas(new_total_price)
        $(".total_price").text(new_total_price1);
        // $(".total_price").text(new_total_price);
    });

    $('.quantity').on('blur' , function() {
        a = $('#quantity').val().replace(/,/g, '')
        b = $('#price').val().replace(/,/g, '')
        first_sum = c = a*b
        $(this).closest('td').next().next().next().find('input').val(addCommas(c)).attr('readonly', true);
        var sum = 0;
        $(".total_amount").each(function(){
            sum += +$(this).val().replace(/,/g, '');
        });
        tax = (sum * 10)/ 100
        new_total = $(".total").text(addCommas(sum));
        new_tax = $(".tax").text(addCommas(parseInt(tax)));
        x = parseInt(new_total.text().replace(/,/g, ''))
        y = parseInt(new_tax.text().replace(/,/g, ''))
        new_total_price = x + y
        new_total_price1 = addCommas(new_total_price)
        $(".total_price").text(new_total_price1);
        // $(".total_price").text(new_total_price);
    });

    $(function() {
        $('#pincode').on('blur' , function() {
            fnSetPincodeDetails();
        });
    });

    // $(".select").change(function () {
    //     $(".select option[value='" + $(this).data('index') + "']").prop('disabled', false);
    //     $(this).data('index', this.value);
    //     $(".select option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
    //     $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
    // });

    $(document).ready(function() {
        $('#myTable tbody tr:first td:last a').addClass("hide");
        // $(".select").each(function(){
        //     $(this).trigger("change");
        // });
    });

    function fnSetPincodeDetails(){
        if ($("#pincode").val()){
            $.ajax({
                type: "GET",
                url: "/api/v1/get_pincode_details?pincode=" + ($("#pincode").val() || ""),
                success: function (data) {
                    if (data.state != ""){
                        $("#pincode").addClass("set_border");
                        $("#state").val(data.state).prop('disabled', true).addClass("remove_border_outline");
                        $("#city").val(data.city).prop('disabled', true).addClass("remove_border_outline");
                        $("#area").val(data.area).prop('disabled', true).addClass("remove_border_outline");
                        $("#address").addClass("set_border");
                    }else{
                        toastr.error("Pincode not found");
                        $("#pincode").removeClass("set_border");
                        $("#state").val("").prop('disabled', false).removeClass("remove_border_outline");
                        $("#city").val("").prop('disabled', false).removeClass("remove_border_outline");
                        $("#area").val("").prop('disabled', false).removeClass("remove_border_outline");
                        $("#address").val("").prop('disabled', false).removeClass("set_border");
                    }

                },
                error: function (xhr, status, err) {

                }
            });
        }
    }

    $("#submit").on("click", function(){
        $("#state").prop('disabled', false);
        $("#city").prop('disabled', false);
        $("#area").prop('disabled', false);
    })

    function addField (argument) {
        var myTable = document.getElementById("myTable");
        var currentIndex = myTable.rows.length - 1;
        var currentRow = myTable.insertRow(-1);

        var numberBox = document.createElement("label");
        numberBox.innerHTML = currentIndex + 1;

        var productBox = document.createElement("select");
        productBox.setAttribute("name", "[r]" + [currentIndex] + "[sku_code]");
        productBox.setAttribute("id", "_order_items_sku_code" + currentIndex);
        productBox.setAttribute("class", "select remove_border_outline");
        option_list = ("<%= SoukoZaiko.pluck(:sku_code).uniq.sort %>").replace(/&quot;/g, '"');
        option = JSON.parse(option_list);
        disabled_stock = ("<%= SoukoZaiko.where(is_disable: 1, stock_type: 01).pluck(:sku_code) %>").replace(/&quot;/g, '"');
        for(var u = 0; u < option.length; u++) {
            opt = document.createElement('option');
            opt.innerHTML = option[u];
            opt.value = option[u];
            opt.disabled = disabled_stock.includes(opt.value);
            productBox.appendChild(opt);
        }

        var numberBox1 = document.createElement("label");

        var quantityBox = document.createElement("input");
        quantityBox.setAttribute('type', 'text');
        quantityBox.setAttribute("name", "[r]" + [currentIndex] + "[quantity]");
        quantityBox.setAttribute("maxlength", "3");
        quantityBox.setAttribute("placeholder", "0");
        quantityBox.setAttribute("required", "");
        quantityBox.setAttribute("id", "quantity" + currentIndex);
        quantityBox.setAttribute("class", "height-10 mt-0 mb-0 quantity lbl-font only-number number-seperator remove_border_outline");
        var numberBox2 = document.createElement("label");

        var itemPriceBox = document.createElement("input");
        itemPriceBox.setAttribute('type', 'text');
        itemPriceBox.setAttribute("maxlength", "4");
        itemPriceBox.setAttribute("placeholder", "0");
        itemPriceBox.setAttribute("required", "");
        itemPriceBox.setAttribute("name", "[r]" + [currentIndex] + "[price]");
        itemPriceBox.setAttribute("id", "price" + currentIndex);
        itemPriceBox.setAttribute("class", "height-10 mt-0 mb-0 price lbl-font only-number number-seperator remove_border_outline");

        var totalPriceBox = document.createElement("input");
        totalPriceBox.setAttribute('type', 'text');
        totalPriceBox.setAttribute("placeholder", "0");
        totalPriceBox.setAttribute("name", "total_amount");
        totalPriceBox.setAttribute("id", "total_amount" + currentIndex);
        totalPriceBox.setAttribute("class", "height-10 mt-0 mb-0 total_amount tbox lbl-font");

        var addRowBox = document.createElement("a");
        // var linkText = document.createTextNode("Remove");
        // addRowBox.appendChild(linkText);
        addRowBox.innerHTML = '<i class="fa fa-trash-o" style="color: red; transform: scale(1.5,1.5);" aria-hidden="true"></i>';
        addRowBox.setAttribute("href", "javascript:void(0);");
        addRowBox.setAttribute("class", "remove-row lbl-font");
        // $('#myTable tbody tr td:last-child').attr("style", "text-align: center");

        var currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(numberBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(productBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(numberBox1);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(quantityBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(numberBox2);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(itemPriceBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(totalPriceBox);

        currentCell = currentRow.insertCell(-1);
        currentCell.appendChild(addRowBox);

        $('tr td:first-child').attr("style", "text-align: center !important;border-bottom: hidden !important;border-top: hidden !important;border-left: hidden !important;");
        $('tr td:last-child').attr("style", "text-align: center !important;border-bottom: hidden !important;border-right: hidden !important;");
        $('tr td:nth-last-child(2)').attr("style", "border-bottom: hidden !important;border-right: hidden !important;");
        $('tr td:nth-last-child(4)').attr("style", "border-bottom: hidden !important");
        $('tr td:nth-last-child(6)').attr("style", "border-bottom: hidden !important");

        $(".total_amount").attr('readonly', true);
        $(".total_amount").attr("style", "outline: none !important");
        $('.quantity').on('blur' , function() {
            a = $(this).val().replace(/,/g, '');
            b = $(this).closest('td').next().next().find('input').val().replace(/,/g, '');
            c = a*b
            $(this).closest('td').next().next().next().find('input').val(addCommas(c)).attr('readonly', true);
            var sum = 0;
            $(".total_amount").each(function(){
                sum += +$(this).val().replace(/,/g, '');
            });
            tax = (sum * 10)/ 100
            new_total = $(".total").text(addCommas(sum));
            new_tax = $(".tax").text(addCommas(parseInt(tax)));
            x = parseInt(new_total.text().replace(/,/g, ''))
            y = parseInt(new_tax.text().replace(/,/g, ''))
            new_total_price = x + y
            new_total_price1 = addCommas(new_total_price)
            $(".total_price").text(new_total_price1);
            // $(".total_price").text(new_total_price);
        });

        $('.price').on('blur' , function() {
            a = $(this).val().replace(/,/g, '');
            b = $(this).closest('td').prev().prev().find('input').val().replace(/,/g, '');
            c = a*b
            $(this).closest('td').next().find('input').val(addCommas(c)).attr('readonly', true);
            var sum = 0;
            $(".total_amount").each(function(){
                sum += +$(this).val().replace(/,/g, '');
            });
            tax = (sum * 10)/ 100
            new_total = $(".total").text(addCommas(sum));
            new_tax = $(".tax").text(addCommas(parseInt(tax)));
            x = parseInt(new_total.text().replace(/,/g, ''))
            y = parseInt(new_tax.text().replace(/,/g, ''))
            new_total_price = x + y
            new_total_price1 = addCommas(new_total_price)
            $(".total_price").text(new_total_price1);
            // $(".total_price").text(new_total_price);
        });

        // $(".select").change(function () {
        //     $(".select option[value='" + $(this).data('index') + "']").prop('disabled', false);
        //     $(this).data('index', this.value);
        //     $(".select option[value='" + this.value + "']:not([value=''])").prop('disabled', true);
        //     $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
        // });

        // $(".select").each(function(){
        //     $(this).trigger("change");
        // });

        $(function() {
          var extra = 0;
          var $input = $(".number-seperator");

          $input.on("keyup", function(event) {

            // When user select text in the document, also abort.
            var selection = window.getSelection().toString();
            if (selection !== '') {
              return;
            }

            // When the arrow keys are pressed, abort.
            if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
              if (event.keyCode == 38) {
                extra = 1000;
              } else if (event.keyCode == 40) {
                extra = -1000;
              } else {
                return;
              }

            }

            var $this = $(this);
            // Get the value.
            var input = $this.val();
            var input = input.replace(/[\D\s\._\-]+/g, "");
            input = input ? parseInt(input, 10) : 0;
            input += extra;
            extra = 0;
            $this.val(function() {
              return (input === 0) ? "" : input.toLocaleString("en-US");
            });
          });
        });

        $(function(){
            $(".only-number").on('input', function (e) {
                $(this).val($(this).val().replace(/[^0-9]/g, ''));
            });
        });

    }

    $("#myTable").on('click', '.remove-row', function(e) {
        $(this).closest("tr").remove();
        var sum = 0;
        $(".total_amount").each(function(){
            sum += +$(this).val().replace(/,/g, '');
        });
        tax = (sum * 10)/ 100
        new_total = $(".total").text(addCommas(sum));
        new_tax = $(".tax").text(addCommas(parseInt(tax)));
        x = parseInt(new_total.text().replace(/,/g, ''))
        y = parseInt(new_tax.text().replace(/,/g, ''))
        new_total_price = x + y
        new_total_price1 = addCommas(new_total_price)
        $(".total_price").text(new_total_price1);

        // $(".select").change(function () {
        //     $(".select option[value='" + $(this).data('index') + "']").prop('disabled', true);
        //     $(this).data('index', this.value);
        //     $(".select option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
        //     $(this).find("option[value='" + this.value + "']:not([value=''])").prop('disabled', false);
        // });

        // $(".select").each(function(){
        //     $(this).trigger("change");
        // });
        // $(".total_price").text(new_total_price);

    });

    $(function(){
        $(".only-number").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
    });

    $(function() {
      var extra = 0;
      var $input = $(".number-seperator");

      $input.on("keyup", function(event) {

        // When user select text in the document, also abort.
        var selection = window.getSelection().toString();
        if (selection !== '') {
          return;
        }

        // When the arrow keys are pressed, abort.
        if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
          if (event.keyCode == 38) {
            extra = 1000;
          } else if (event.keyCode == 40) {
            extra = -1000;
          } else {
            return;
          }

        }

        var $this = $(this);
        // Get the value.
        var input = $this.val();
        var input = input.replace(/[\D\s\._\-]+/g, "");
        input = input ? parseInt(input, 10) : 0;
        input += extra;
        extra = 0;
        $this.val(function() {
          return (input === 0) ? "" : input.toLocaleString("en-US");
        });
      });
    });

    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
</script>