<style>
.forget-pass-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    height: 74.5vmin;
}
.forget-pass-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.forget-pass-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.ml-10 {
    margin-left: 10px;
}
</style>
<div id="content">
  <div class="forget-pass-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2 class="text-center">Forget Password</h2>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: 'Please Enter Your Email' %>
        </div>
        <div class="form-group">
          <%= f.submit "Send Reset Password Instructions", class: 'btn btn-primary btn-block' %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>