<% if user_signed_in? %>
  <%#= render 'layouts/menu' %>
<% end %>
<div id="content">
  <div class="box-canvas">
    <div class="bottle"></div>
    <div class="box"></div>
    <div class="baguette">
      <div class="tear"></div>
    </div>
    <div class="bag">
      <div class="vertical-strap"></div>
      <div class="vertical-strap"></div>
      <div class="horizontal-section"></div>
    </div>
    <div class="handle"></div>
  </div>
</div>