<style>
.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}
.login-form form {
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
.ml-10 {
    margin-left: 10px;
}
</style>
<div id="content">
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="text-center">Log in</h2>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: 'Please Enter Your Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', required: true, placeholder: 'Please Enter Your Password' %>
        </div>
        <div class="form-group">
            <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
        </div>
        <div class="clearfix">
          <% if devise_mapping.rememberable? %>
              <label class="form-check-label"><%= f.check_box :remember_me %></label>
              <%= f.label :remember_me %><br/>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>