@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0 auto;
  background: rgba(254, 254, 254, 0.8);
  padding-bottom: 4rem;
  color: #333;
  overflow-x: hidden;
}
h1 {
  padding: 6rem 0 0 2.4rem;
}
a,
a:visited {
  color: #333;
}
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
nav {
  padding: 0.8rem 2.4rem;
  background: rgba(255, 255, 255, 0.97);
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 4px -3px rgba(51, 51, 51, 0.2);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;

    #logo {
      height: 32px;
      width: 66%;

      img {
        height: 100%;
      }
    }

    #icons {
      display: flex;
      font-size: 24px;
      width: 34%;
      justify-content: flex-end;

      li {
        margin-left: calc(35% + 8px);

        a {
          position: relative;
        }
      }
      #nav-not {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: rgb(255, 41, 41);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s;
        transform: translate(-4px, -1px);
      }
      i {
        transition: 0.25s;
        cursor: pointer;
      }
      i:hover {
        color: rgba(34, 34, 34, 0.65);
      }
    }
  }
}

.home-container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 2.4rem;

  @media screen and (max-width: 600px) {
    padding-left: 0.2rem;
  }

  h1 {
    padding-left: 0;
  }

  #search {
    margin: 1rem 1rem 2rem 0;
    height: 2.4rem;
    padding: 0 0.5rem;
    border-radius: 5px;
    transition: 0.4s ease;
    border: 2px solid rgba(51, 51, 51, 0.835);

    &:focus {
      outline: none;
      border: 2px solid rgb(46, 183, 235);
    }
  }

  .card-cart-container {
    display: flex;

    .card-container {
      display: flex;
      flex-wrap: wrap;

      .card {
        margin: 0.4rem 1rem 0.4rem 0;
        background: rgb(255, 255, 255);
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0px 6px rgba(51, 51, 51, 0.15);
        transition: 0.2s ease;
        width: 202px;

        @media screen and (max-width: 600px) {
          margin-right: 0.2rem;
        }

        &:hover {
          transform: scale(1.04);

          img {
            transform: scale(1.08);
          }

          .card-text {
            opacity: 1;
            bottom: 2.3rem;
          }
        }

        .img-container {
          overflow: hidden;

          img {
            height: 210px;
            transition: 0.4s ease;
          }
        }
        .card-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.3rem 0.8rem;
          position: absolute;
          bottom: 1rem;
          opacity: 0;
          transition: 0.6s;
          width: 100%;
          height: 75px;
          background: linear-gradient(0deg, white 40%, transparent 100%);

          h3 {
            font-size: 1.2rem;
            padding-right: 4px;
          }
          span {
            background: #2eb7eb;
            font-weight: bold;
            padding: 4px 6px;
            color: white;
            border-radius: 4px;
          }
        }
        .card-icons {
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 40px;

          i {
            padding: 3px 5px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              animation: scaler 0.8s infinite linear;
            }
          }
          .fa-heart:hover {
            color: rgba(251, 38, 38, 0.5);
          }
          .fa-shopping-cart {
            font-size: 16px;
            color: #2eb7eb;

            &:hover {
              filter: brightness(125%);
            }
          }
          .like-container {
            input {
              display: none;

              &:checked + label i {
                color: rgb(251, 38, 38);
                animation: heart 1.3s forwards ease;

                @keyframes heart {
                  0% {
                    filter: hue-rotate(0deg);
                    transform: scale(1);
                  }
                  50% {
                    filter: hue-rotate(-270deg);
                    transform: scale(1.3);
                  }
                  100% {
                    filter: hue-rotate(0deg);
                    transform: scale(1);
                  }
                }
              }
            }
          }
        }
      }
      .no-result {
        margin: 0 4rem 0 0.4rem;
      }
    }
  }
  .shopping-cart {
    transition: 0.4s ease;
    background: #2eb7eb;
    color: white;
    padding: 1.4rem;
    border-radius: 4px;
    min-width: 290px;
    box-shadow: 0 1px 6px rgba(51, 51, 51, 0.25);
    height: 100%;
    margin: -8rem 2.4rem 0 0;

    h2 {
      margin-bottom: 1rem;
      color: #333;
      text-align: center;
    }
    .item-group {
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 6px;

      &::-webkit-scrollbar {
        display: none;
      }
      // &::-webkit-scrollbar {
      //   width: 2px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: #d6d6d6;
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: rgb(151, 151, 151);
      // }
      // &::-webkit-scrollbar-thumb:hover {
      //   background: #555;
      // }

      .item {
        margin-bottom: 2.4rem;
        position: relative;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 60% 40%;
        grid-template-areas:
          'a b'
          'a c';

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          background: rgba(85, 85, 85, 0.2);
          left: 50%;
          bottom: -22px;
          transform: translateX(-50%);
        }

        .img-container {
          grid-area: a;
          display: flex;
          align-items: center;

          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transform: scale(0);
            animation: img-scale 1s forwards;

            @keyframes img-scale {
              to {
                transform: scale(1)
              }
            }
          }
        }

        .item-description {
          grid-area: b;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-left: 10px;

          h4 {
            margin: 0 0.9rem 0.9rem 0;
            background: rgba(51, 51, 51, 0.1);
            padding: 3px 5px;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(51, 51, 51, 0.15);
            transform: scaleX(0);
            transform-origin: left;
            animation: img-scale 1s forwards;

            @keyframes img-scale {
              to {
                transform: scaleX(1)
              }
            }
          }
          p {
            transform: translateY(3px);
          }
        }
        .item-quantity {
          grid-area: c;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 10px;

          h6 {
            color: #333;
          }
          .cart-icons {
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin-left: 10px;

            button {
              transform: scaleY(0);

              @mixin icon-anim($delay) {
                animation: icon .5s ease forwards;
                animation-delay: $delay;

                @keyframes icon {
                  to {
                    transform: scaleY(1);
                  }
                }
              }
              &:nth-child(1){
                @include icon-anim(.2s);
              }
              &:nth-child(2){
                @include icon-anim(.4s);
              }
              &:nth-child(3){
                @include icon-anim(.6s);
              }
            }

            i {
              font-size: 0.55rem;
              padding: 5px;
              margin: 0 2px;
              background: white;
              border-radius: 50%;
              color: #2eb7eb;
              transition: .3s ease;

              &:hover {
                background: #222;
                color: #2eb7eb;
              }
            }
          }
        }
      }
    }
    .grand-total {
      h6 {
        color: #333;
      }
      .total {
        display: flex;
        justify-content: space-between;
        margin: 1.4rem 0 0.4rem;

        h2 {
          color: white;
          margin-bottom: 0;
        }
      }
    }
    .order-button {
      margin: 1rem auto 0;
      width: 100%;
      text-align: center;

      button {
        background: white;
        padding: 0.8rem;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(51, 51, 51, 0.2);
        transition: all 0.2s ease;
        letter-spacing: 1px;

        &:hover {
          background: black;
          color: #2eb7eb;
          font-weight: bold;
          letter-spacing: 6px;
          animation: scaler 1.5s infinite linear;
        }
        &:active {
          transform: scale(0.92);
        }
      }
    }
  }
  // animations
  .cart-anim {
    &-enter-active,
    &-leave-active {
      transition: 1.3s cubic-bezier(.23,.66,.08,.93);
      transform: translateX(0px);
    }
    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translateX(400px);
    }
  }
  .item-anim {
    &-enter-active,
    &-leave-active {
      transform: scale(1);
      transition: .8s;
    }
    &-enter {
      transition: .8s
    }
    &-leave-to {
      transform: scale(0);
      transition: .4s;
    }
  }
}
@keyframes scaler {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}