@media (min-width:1281px) { /* hi-res laptops and desktops */
#header,#footer,#content { position:absolute; right:0;left:0;}

#header{
   height:70px !important; top:0 !important;

}
#footer{
  height:70px !important; bottom:0 !important;
  position: fixed !important;
}
#content{
  top:7vmin !important;
  /*bottom:100px;*/
  /*background:#DBEAF9;*/
}

.top-links-btn{
    display: none !important;
}

.render{
  display: none;
}

.box-canvas{
  zoom: 0.8 !important;
  position: relative !important;
  margin: auto !important;
  display: block !important;
  margin-top: 12vmin !important;
  /*margin-bottom: 50vmin;*/
  width: 80vmin !important;
  height:80vmin !important;

}

.baguette {
    position: absolute;
    transform: rotate(45deg) !important;
    top: 25vmin;
    left: -30vmin !important;
    width: 80vmin;
    height: 10vmin;
    background: #FCB648;
    border-radius: 10% / 50%;
  }

  .baguette::before {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3vmin;
    background: #FCE3AB;
    transform: rotate(45deg);
    left: 5vmin;
    top: 3vmin;
    border-radius: 50%;
  }

  .baguette::after {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3vmin;
    background: #FCE3AB;
    transform: rotate(45deg);
    left: 15vmin;
    top: 3vmin;
    border-radius: 50%;
  }
.webname{
  font-size: 16px;
}
.link a{
    font-size: 16px;
    color: #ffffff !important;
}
.dummy-desc {
    font-size: 14px;
}
.custom-title {
  color:  #FF5722;
}
.navbar a{
    color: #ff5722;

}
.navbar a:hover {
    color: #009688;

}
.navbar a:active {

    border-bottom: 1px solid #ff5722;

}

.navbar-brand .logo,
footer .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #ff5722;
}
.container-fluid .banner {
    background: linear-gradient(to bottom, #ff9800d4, #FFC107);
height: 500px;
}
.inner-banner {
    border: 2px solid #fff;
}
.container-fluid .banner .image {
    background-size: contain;
}
.container-fluid .banner .content {
    color: #fff;
    line-height: 25px;
}
.container-fluid .banner .content h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: #FF5722;
    text-shadow: 2px 2px #009688;
}

.button .btn,
.card .btn {
    font-size: 16px;
    font-weight: 600;
    color: #FF5722;
    border: 1px solid #FF5722;
    border-radius: 0;
}
.button .btn:hover,
.card .btn:hover
 {
background: #FF5722;
color: #fff;
}

.footer {
    background-size: cover;
    height: 50px !important;
    padding: 15px;
    background-color: #333;
    color: #fff;
}
.footer .footer-widget {
    border-right: 1px solid #fff;
    height: 20px;
}

.footer-all-link{
    height: 22px;
    line-height: 22px;
    text-align: center;
}

.footer-last-link{
    height: 48px;
    line-height: 22px;
    text-align: center;
}

.footer .footer-widget-last
{
border-right:0px;
}
.footer-widget h5 {
    color: #ff5722;
}
/* footer-widget two */
.footer-widget.two ul > li {
list-style: none;
cursor: pointer;
}
.footer-widget.two ul > li:hover {
color: #ff5722;    }
/* footer-widget three */
/* social icons */
.footer .fa {
    padding: 10px 0px;
    font-size: 20px;
    width: 23%;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    color: #fff;
  }
  .footer a:hover {
      text-decoration: none;
  }
  .copyright {
    background: #ff5722;
  }
  .copyright b {
      color: #fff;
      cursor: pointer;
  }
  .nav-item a{
    font-size: 18px;
  }
  .toast-success{
    background-color: black !important;
    font-size: 12px !important;
  }

  .toast-error{
    background-color: black !important;
    font-size: 12px !important;
  }

  .navbar-nav > li > a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

@media (min-width:1025px),(min-width:991px) { /* big landscape tablets, laptops, and desktops */
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .render{
    display: none;
  }

  .nav-item a{
    font-size: 16px;
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
  #header,#footer,#content { position:absolute; right:0;left:0;}

#header{
   height:60px; top:0;

}
#footer{
  height:60px; bottom:0;
}
#content{
  top:40vmin;
  /*bottom:100px;*/
  /*background:#DBEAF9;*/
}

.footer-all-link{
  font-size: 10px !important;
}

.top-links-btn{
  display: none !important;
}

.collapse:not(.show) {
  display: none !important;
}

.baguette {
    position: absolute;
    transform: rotate(70deg);
    top: 25vmin;
    left: -30vmin;
    width: 80vmin;
    height: 10vmin;
    background: #FCB648;
    border-radius: 10% / 50%;
  }

  .baguette::before {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3vmin;
    background: #FCE3AB;
    transform: rotate(45deg);
    left: 5vmin;
    top: 3vmin;
    border-radius: 50%;
  }

  .baguette::after {
    content: '';
    position: absolute;
    width: 8vmin;
    height: 3vmin;
    background: #FCE3AB;
    transform: rotate(45deg);
    left: 15vmin;
    top: 3vmin;
    border-radius: 50%;
  }
.webname{
  font-size: 16px;
}
.link a{
    font-size: 16px;
    color: #ffffff !important;
}
.dummy-desc {
    font-size: 14px;
}
.custom-title {
  color:  #FF5722;
}
.navbar a{
    color: #ff5722;

}
.navbar a:hover {
    color: #009688;

}
.navbar a:active {

    border-bottom: 1px solid #ff5722;

}

.navbar-brand .logo,
footer .logo{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    color: #ff5722;
}
.container-fluid .banner {
    background: linear-gradient(to bottom, #ff9800d4, #FFC107);
height: 500px;
}
.inner-banner {
    border: 2px solid #fff;
}
.container-fluid .banner .image {
    background-size: contain;
}
.container-fluid .banner .content {
    color: #fff;
    line-height: 25px;
}
.container-fluid .banner .content h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: #FF5722;
    text-shadow: 2px 2px #009688;
}

.button .btn,
.card .btn {
    font-size: 16px;
    font-weight: 600;
    color: #FF5722;
    border: 1px solid #FF5722;
    border-radius: 0;
}
.button .btn:hover,
.card .btn:hover
 {
background: #FF5722;
color: #fff;
}

.footer {
    background-size: cover;
    height: 50px !important;
    padding: 15px;
    background-color: #333;
    color: #fff;
}
.footer .footer-widget {
    border-right: 1px solid #fff;
    height: 20px;
}


.footer-last-link{
    height: 48px;
    line-height: 22px;
    text-align: center;
}

.footer .footer-widget-last
{
border-right:0px;
}
.footer-widget h5 {
    color: #ff5722;
}
/* footer-widget two */
.footer-widget.two ul > li {
list-style: none;
cursor: pointer;
}
.footer-widget.two ul > li:hover {
color: #ff5722;    }
/* footer-widget three */
/* social icons */
.footer .fa {
    padding: 10px 0px;
    font-size: 20px;
    width: 23%;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    color: #fff;
  }
  .footer a:hover {
      text-decoration: none;
  }
  .copyright {
    background: #ff5722;
  }
  .copyright b {
      color: #fff;
      cursor: pointer;
  }
  .nav-item a{
    font-size: 18px;
  }
  .toast-success{
    background-color: black !important;
    font-size: 12px !important;
  }

  .toast-error{
    background-color: black !important;
    font-size: 12px !important;
  }
}