<div id="footer">
  <footer class="footer">
    <div class="container">
      <div class="row" style="text-align: center;">
        <div class="col-md-3 footer-widget-last link">
        </div>
        <div class="col-md-1 footer-widget link footer-all-link">
          <a href="/">Home</a>
        </div>
        <div class="col-md-2 footer-widget link footer-all-link">
          <a href="/order">Place Your Order</a>
        </div>
        <div class="col-md-1 footer-widget link footer-all-link">
          <a href="/about">About</a>
        </div>
        <div class="col-md-1 footer-widget link footer-all-link">
          <a href="/faq">FAQs</a>
        </div>
        <div class="col-md-1 footer-widget-last link footer-last-link">
          <a href="/enquiry">Enquiry</a>
        </div>
        <div class="col-md-2 footer-widget footer-widget-last link">
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright text-center">
    <span class="text-center webname"><a>ONLINESHOPEX</a></span>
  </div>
</div>
</body>
<%= javascript_include_tag @online_shopex_js_set if @online_shopex_js_set.present? %>
</html>