<html>
  <head>
    <title>OnlineShopex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
<body>
  <div id="header">
    <header>
      <!-- Navigation -->
      <!-- navbar-dark bg-dark static-top -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
            <strong class="logo">OnlineShopex</strong>
          </a>
          <button
            class="navbar-toggler top-links-btn"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active mx-3">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/order">Place Your Order</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/faq">FAQs</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/enquiry">Enquiry</a>
              </li>
              <% if !user_signed_in? %>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/users/sign_in">Sign In</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              </li>
              <% end %>
              <% if user_signed_in? %>
              <li class="nav-item mx-3">
                <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out" id="sign_out">Sign Out</a>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
  <span class="render hide"><%= render 'layouts/mobile_menu' %></span>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.render').removeClass('hide', $(window).width() < 768);
    });
  </script>
