<!DOCTYPE html>
<%= render 'layouts/header' %>
  <%= yield %>
<%= render 'layouts/footer' %>
<%#= custom_bootstrap_flash %>

<% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s %>
        toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
        <% if flash[:notice] -%>
          <%#= flash[:notice] %>
        <% end %>
    </script>
    <% if notice %>
      <script type="text/javascript">
        toastr.success("<%= notice %>", {timeOut: 300})
      </script>
    <% end %>
<% end %>
<% if alert %>
  <% flash.each do |key, value| %>
    <script type="text/javascript">
      toastr.error("<%= value %>", {timeOut: 300})
    </script>
  <% end %>
<% end %>
